body {
  font-family: "Helvetica", sans-serif;
  width: 1200px;
  margin: 5px auto;
}
img {
  width: 220px;
  /*box-shadow: 4px 4px 4px #AAA;*/
  float;left;
  padding-top: 45px;
  padding-bottom: 5px;
  position: relative;
}

header {
  background: none
  padding: 50px;
  border-radius: 15px;
}

h3 {
  border-bottom: solid 4px green;
  length: 20px;
  padding-bottom: 8px;
}

.brown{
  font-size: 50px;
  color:green;
  padding-top: 25px;
  padding-bottom: 25px;
}
table, th, td {
    border: 2px solid brown;
        background-color: #f1f1c1;
        border-collapse: collapse;

    th, td {
    padding: 15px;
}

btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
